body {
    background-color: white;
}

#account,
#password {
    width: 200px;
    height: 35px;
    margin: 10px;
    color: #000000;
}

h3 {
    width: 200px;
    height: 20px;
    margin: 10px;
    color: #df5334;
}

h5 {
    margin: 20px;
    color: #a3a2a3;
}

h5:hover {
    color: black;
}

#container1 {
    margin: 50px;
    padding: 10px;
    width: 230px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #0d6efd;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);

    /*定位對齊*/
    position: relative;
    margin: auto;
    top: 100px;
    text-align: center;
}

.system_name {
    /*定位對齊*/
    position: relative;
    margin: auto;
    top: 100px;
    text-align: center;
}

.submit {
    color: white;
    background: #0d6efd;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}

.submit:hover {
    background: #4d8cff;
}

#copyright {
    text-align: center;
    color: #a3a2a3;
    margin: -200px 0px 0px 0px;
    font-size: 14px;
}

input {
    padding: 5px;
    border: none;
    border: solid 1px #000;
    border-radius: 5px;
}